.nitro-purse-component {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 20px;
    width: 100%;
    z-index: 300;
    pointer-events: none;

    .currencies-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: $destiny;
        padding: $card-spacer-y $card-spacer-x;
    }
}

@import './credits';