.fas {
    line-height: unset !important;
}

i {

    &.icon {
        display: inline-block;
        image-rendering: pixelated;
        outline: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;

        &.icon-currency--1 {
            // background-image: url('./images/wallet/icons/credit.png');
            width: 15px;
            height: 15px;
        }

        &.icon-currency-0 {
            // background-image: url('./images/wallet/icons/ducket.png');
            width: 15px;
            height: 15px;
        }

        &.icon-currency-5,
        &.icon-currency-50 {
            // background-image: url('./images/wallet/icons/diamond.png');
            width: 15px;
            height: 15px;
        }

        &.icon-catalog {
            // background-image: url('./images/toolbar/icons/catalog.png');
            width: 37px;
            height: 36px;
        }

        &.icon-rooms {
            // background-image: url('./images/toolbar/icons/rooms.png');
            width: 44px;
            height: 30px;
        }

        &.icon-house {
            // background-image: url('./images/toolbar/icons/house.png');
            height: 30px;
            width: 32px;
        }

        &.icon-inventory {
            // background-image: url('./images/toolbar/icons/inventory.png');
            height: 41px;
            width: 44px;
        }

        &.icon-friendall {
            // background-image: url('./images/toolbar/icons/friend_all.png');
            height: 33px;
            width: 32px;
        }

        &.icon-friendsearch {
            // background-image: url('./images/toolbar/icons/friend_search.png');
            height: 33px;
            width: 29px;
        }

        &.icon-sendmessage {
            // background-image: url('./images/toolbar/icons/sendmessage.png');
            width: 20px;
            height: 21px;
        }

        &.icon-profile {
            // background-image: url('./images/toolbar/icons/profile.png');
            width: 21px;
            height: 21px;
        }
            
        &.icon-joinroom {
            // background-image: url('./images/toolbar/icons/joinroom.png');
            width: 21px;
            height: 21px;
        }

        &.icon-habbo {
            // background-image: url('./images/toolbar/icons/habbo.png');
            width: 28px;
            height: 28px;
        }

        &.icon-camera {
            // background-image: url('./images/toolbar/icons/camera.png');
            width: 38px;
            height: 45px;
        }

        &.icon-message {
            // background-image: url('./images/toolbar/icons/message.png');
            width: 36px;
            height: 32px;

            &.is-unsee {
                // background-image: url('./images/toolbar/icons/message_unsee.gif');
            }
        }

        &.arrow-left-icon {
            // background-image: url('./images/avatareditor/arrow-left-icon.png');
            width: 28px;
            height: 21px;
        }

        &.arrow-right-icon {
            // background-image: url('./images/avatareditor/arrow-right-icon.png');
            width: 28px;
            height: 21px;
        }

        &.clear-icon {
            // background-image: url('./images/avatareditor/clear-icon.png');
            width: 16px;
            height: 16px;
        }

        &.ca-icon {
            // background-image: url('./images/avatareditor/ca-icon.png');
            width: 30px;
            height: 24px;

            &.selected {
                // background-image: url('./images/avatareditor/ca-selected-icon.png');
            }
        }

        &.cc-icon {
            // background-image: url('./images/avatareditor/cc-icon.png');
            width: 31px;
            height: 29px;

            &.selected {
                // background-image: url('./images/avatareditor/cc-selected-icon.png');
            }
        }

        &.ch-icon {
            // background-image: url('./images/avatareditor/ch-icon.png');
            width: 29px;
            height: 24px;

            &.selected {
                // background-image: url('./images/avatareditor/ch-selected-icon.png');
            }
        }

        &.cp-icon {
            // background-image: url('./images/avatareditor/cp-icon.png');
            width: 25px;
            height: 25px;

            &.selected {
                // background-image: url('./images/avatareditor/cp-selected-icon.png');
            }
        }

        &.ea-icon {
            // background-image: url('./images/avatareditor/ea-icon.png');
            width: 35px;
            height: 16px;

            &.selected {
                // background-image: url('./images/avatareditor/ea-selected-icon.png');
            }
        }

        &.fa-icon {
            // background-image: url('./images/avatareditor/fa-icon.png');
            width: 27px;
            height: 20px;

            &.selected {
                // background-image: url('./images/avatareditor/fa-selected-icon.png');
            }
        }

        &.female-icon {
            // background-image: url('./images/avatareditor/female-icon.png');
            width: 18px;
            height: 27px;

            &.selected {
                // background-image: url('./images/avatareditor/female-selected-icon.png');
            }
        }

        &.ha-icon {
            // background-image: url('./images/avatareditor/ha-icon.png');
            width: 25px;
            height: 22px;

            &.selected {
                // background-image: url('./images/avatareditor/ha-selected-icon.png');
            }
        }

        &.he-icon {
            // background-image: url('./images/avatareditor/he-icon.png');
            width: 31px;
            height: 27px;

            &.selected {
                // background-image: url('./images/avatareditor/he-selected-icon.png');
            }
        }

        &.hr-icon {
            // background-image: url('./images/avatareditor/hr-icon.png');
            width: 29px;
            height: 25px;

            &.selected {
                // background-image: url('./images/avatareditor/hr-selected-icon.png');
            }
        }

        &.lg-icon {
            // background-image: url('./images/avatareditor/lg-icon.png');
            width: 19px;
            height: 20px;

            &.selected {
                // background-image: url('./images/avatareditor/lg-selected-icon.png');
            }
        }

        &.loading-icon {
            // background-image: url('./images/avatareditor/loading-icon.png');
            width: 21px;
            height: 25px;
        }

        &.male-icon {
            // background-image: url('./images/avatareditor/male-icon.png');
            width: 21px;
            height: 21px;

            &.selected {
                // background-image: url('./images/avatareditor/male-selected-icon.png');
            }
        }

        &.sh-icon {
            // background-image: url('./images/avatareditor/sh-icon.png');
            width: 37px;
            height: 10px;

            &.selected {
                // background-image: url('./images/avatareditor/sh-selected-icon.png');
            }
        }

        &.wa-icon {
            // background-image: url('./images/avatareditor/wa-icon.png');
            width: 36px;
            height: 18px;

            &.selected {
                // background-image: url('./images/avatareditor/wa-selected-icon.png');
            }
        }

        &.chatstyles-icon {
            // background-image: url('./images/chatstyles/styles-icon.png');
            width: 17px;
            height: 19px;
        }

        &.pencil-icon {
            // background-image: url('./images/infostand/pencil-icon.png');
            width: 17px;
            height: 18px;
        }

        &.spin {
            animation: rotating 1s linear infinite;
        }

        @keyframes rotating {
            from {
                transform: rotate(0);
            }
            
            to {
                transform: rotate(360deg);
            }
        }
    }
}