.nitro-catalog-offer-grid-item-component {
    position: relative;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    // background-image: url('../../../../../assets/images/icons/loading-icon.png');
    background-position: center;
    background-repeat: no-repeat;

    .badge {
        position: absolute;
        margin: 4px 0 0 4px;
        padding: 2px;
        font-size: 11px;
    }
}