.nitro-room-infostand-component {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 30px;

    > * > * {
        position: absolute;
        right: 50px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .card {
        min-height: 200px;
        min-width: 200px;
        max-width: 200px;
        z-index: 300;

        .card-header {

            .header-title {
                max-width: 140px;
                font-size: 14px;
                text-align: left;
                text-transform: none;
            }
        }

        .card-body {

            .body-image {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($light, 1);
            }

        }
    }

    .active {
        visibility: visible;
    }
}

@import './bot';
@import './furni';
@import './pet';
@import './rentablebot';
@import './user';