.nitro-inventory-component {
    position: absolute;
    top: 20px;
    left: 120px;
    width: 500px;
    max-width: 500px;
    height: 374px;
    max-height: 374px;

    .loading-overlay {
        background-color: rgba($light, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .inventory-header {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        background-color: rgba($light, 1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:before {
            content: "";
            position: absolute;
            width: 98%;
            height: 5px;
            border-radius: 5px;
            top: 5px;
            left: 0;
            right: 0;
            margin: auto;
            background: rgb(255, 255, 255);
            z-index: 1;
        }

        .header-overlay {
            background-color: rgba($light, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        > *:not(.header-overlay) {
            position: relative;
            z-index: 2;
        }

        .header-tabs {
            width: 100%;
        }
    }

    .card-body {
        display: flex;
        width: 100%;
        height: 100%;

        > * {
            width: 100%;
            height: 100%;
        }
    }
}

@import './furni';